/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--normal, 400);
  color: var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  margin-block-end: 100px;
  font-family: var(--accent-font), fantasy;
  font-weight: var(--normal, 400);
  text-transform: uppercase;
  background-color: var(--bg-color);
  inline-size: var(--main-inline-size);
}

.logo__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.theme-menu {
  padding-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  block-size: 70px;
  inline-size: 84px;
  padding-inline-start: 4px;
}

.theme-menu__button {
  position: relative;
  font-size: 14px;
  font-weight: inherit;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-inline-end: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--main-inline-size);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: end;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color, #fff);
}

.card__title {
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: 'wght' var(--bold);
  inline-size: 100%;
  padding-inline: 10px;
  padding-block-start: 3px;
  padding-block-end: 3px;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  border-block-end: solid 2px var(--accent-color);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
  font-size: 18px;
  font-weight: var(--normal);
  line-height: 21px;
}

.card__button {
  display: flex;
  justify-self: center;
  justify-content: end;
  gap: 6px;
  margin: 0 25px 25px 0;
  inline-size: 100%;
  cursor: pointer;
}

.card__icon-button {
  border: none;
  padding: 0;
  outline: none;
  background-color: transparent;
  block-size: 36px;
  inline-size: 39px;
  cursor: pointer;
}

.like-icon {
  padding-block-start: 2px;
  cursor: pointer;
}

.card__like-button {
  position: relative;
  align-self: end;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  cursor: pointer;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 12.6px;
  color: var(--text-change-color);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 50px;
  inline-size: var(--main-inline-size);
}

.footer__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  padding: 15px 20px;
  background-color: var(--bg-color);
  cursor: pointer;
  block-size: 51px;
}

.floppy {
  position: relative;
  z-index: 1;
  inline-size: 21px;
  block-size: 21px;
  color: var(--text-change-color);
  mix-blend-mode: difference;
}

@media (width<= 375px) {
  .footer__button {
    flex-direction: column;
    block-size: 84px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}
